.MenuIcon{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    margin-left: 10px;
}

.MenuIcon div{
    background-color: black;
    width: 3rem;
    height: 5px;
    border-radius: 5px;
}


@media only screen and (min-width:756px) {
    .MenuIcon {
        display: none;
    }
    
}