.user-card{
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: 100% ;
    border-radius: 0px;
    background-color:  transparent;
    color: black;
    cursor: pointer;
    transition: all 0.17s ease-in;
}
.user-card:hover{
    background-color:  #f6f6f6;

}

.user-card img{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 15px;
}

.user-card .card-content{
    margin: 10px;
    width: 70%;
    display: flex;
    /* align-content: center; */
    justify-content: space-between;
    font-size: 14px;
}

.card-content .left p{
 opacity: 0.6;
}
.user-card .card-content .right{
    display: flex;
    align-items: center;
    width: 30%;
}


/* .user-card .card-content p{
    opacity: 0.6;
}

.user-card .card-content h2{
    font-size: larger;
} */